body {
    font-family: cursive ;
    background-color: green;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
    background-color: burlywood;
    padding: 200x;
}
table {
    margin: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
td {
    padding: 5px;
    border: 1px solid;
}

td img {
    width: 200px;
    height: 300px;
}